<section>
  <div>
    <!-- Breadcrumb -->
    <app-breadcrumb [title]="'Candidates'" [items]="['Jobs']" [active_item]="'Candidates'"></app-breadcrumb>

    <!-- Table Card -->
    <div class="!bg-[white] rounded-xl shadow-xl overflow-hidden">
      <!-- Table Header -->
      <div class="flex flex-col md:flex-row justify-between items-center p-4 border-b bg-[#00c4c4]">
        <div class="w-full md:w-auto mb-4 md:mb-0">
          <ul class="flex flex-col md:flex-row items-start md:items-center gap-4">
            <li>
              <h2 class="text-lg text-white mr-2">Candidates</h2>
            </li>
            <div class="flex items-center justify-center">
              <div
                class="border border-[#CCCCCC] rounded-full bg-white flex items-center text-gray-500 shadow w-full max-w-md">
                <mat-icon class="ms-3">search</mat-icon>
                <input placeholder="Search" type="text" #filter
                  class="w-full h-[40px] rounded-full ps-2 focus:outline-none placeholder:text-[16px]"
                  aria-label="Search box">
              </div>
            </div>
          </ul>
        </div>

        <div class="w-full md:w-auto">
          <ul class="flex items-center md:justify-end gap-2">
            <li>
              <button mat-mini-fab class="!bg-[#D5EAEA] hover:!bg-gray-100" (click)="addNew()" matTooltip="ADD">
                <mat-icon class="!text-[#00383F]">add</mat-icon>
              </button>
            </li>
            <li>
              <button mat-mini-fab class="!bg-[#D5EAEA] hover:!bg-gray-100" (click)="refresh()" matTooltip="REFRESH">
                <mat-icon class="!text-[#00383F]">refresh</mat-icon>
              </button>
            </li>
            <li>
              <div [hidden]="!selection.hasValue()">
                <button mat-mini-fab class="!bg-[#D5EAEA] hover:!bg-gray-100" (click)="removeSelectedRows()"
                  matTooltip="DELETE">
                  <mat-icon class="!text-[#00383F]">delete</mat-icon>
                </button>
              </div>
            </li>
            <li>
              <div class="cursor-pointer p-2 rounded-xl bg-[#D5EAEA] hover:bg-gray-100 shadow-xl" matTooltip="XLSX">
                <img src="assets/images/icons/xlsx.png" alt="Export to Excel" class="w-6 h-6" (click)="exportExcel()" />
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Table Body -->
      <div class="overflow-auto">
        <div class="min-w-full">
          <table mat-table [dataSource]="dataSource" matSort class="w-full text-sm">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Id</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Name</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2 truncate">{{ row.full_name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Email</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2 truncate">{{ row.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mobile">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Mobile</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2 truncate">{{ row.mobile }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="linkedin">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                class="px-4 py-2 font-medium">Linkedin</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2 truncate" matTooltip="{{ row.linkedin }}">{{ row.linkedin
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="experience">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                class="px-4 py-2 font-medium">Experience</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.experience }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="last_company">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Last
                Company</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.last_company }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium">Remarks</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.remarks }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="download">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                class="px-4 py-2 font-medium">Download</mat-header-cell>
              <mat-cell *matCellDef="let row" class="px-4 py-2">
                <a [href]="'http://localhost:3000/uploads/resumes/' + row.resume" download target="_blank"
                  rel="noopener noreferrer">
                  <button mat-icon-button color="accent" class="tbl-action-btn" matTooltip="Download Resume">
                    <app-feather-icons [icon]="'download'" [class]="'col-green'"></app-feather-icons>
                  </button>
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="px-4 py-2 font-medium">Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" class="px-4 py-2 flex gap-2 w-[550px] md:w-auto">
                <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewDetails(row)"
                  matTooltip="View Details">
                  <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="$event.stopPropagation(); editCall(row)"
                  matTooltip="Edit">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(i, row)"
                  matTooltip="Delete">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
              class="hover:bg-gray-50 cursor-pointer" matRipple></mat-row>
          </table>

        </div>
      </div>
      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" class="!border-t !p-2 !bg-[#FAF9FD]"></mat-paginator>
    </div>
  </div>
</section>