<div class="form-container px-5 py-6">
  <form class="space-y-6" [formGroup]="projectForm" (ngSubmit)="onSubmit()">

    <!-- Project Title -->
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Project Title</mat-label>
        <input matInput formControlName="projectTitle" placeholder="Project Title" required>
        @if (projectForm.get('projectTitle')?.hasError('required')) {
        <mat-error>Project Title is required</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Department & Priority -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department" required>
          <mat-option value="Designing">Designing</mat-option>
          <mat-option value="Development">Development</mat-option>
          <mat-option value="Testing">Testing</mat-option>
          <mat-option value="Marketing">Marketing</mat-option>
          <mat-option value="Accounts">Accounts</mat-option>
        </mat-select>
        @if (projectForm.get('department')?.hasError('required')) {
        <mat-error>Department is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Project Priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
        @if (projectForm.get('priority')?.hasError('required')) {
        <mat-error>Project Priority is required</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Client & Price -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <!-- 
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" required>
        @if (projectForm.get('price')?.hasError('required')) {
        <mat-error>Price is required</mat-error>
        }
      </mat-form-field> -->
    </div>

    <!-- Start & End Date -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Project Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (projectForm.get('startDate')?.hasError('required')) {
        <mat-error>Please select date</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Project End Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="endDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        @if (projectForm.get('endDate')?.hasError('required')) {
        <mat-error>Please select date</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Select Client</mat-label>
        <mat-select formControlName="client">
          <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.fullName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Team -->
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Select team</mat-label>
        <mat-select formControlName="team" multiple>
          <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.fullName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Status -->
    <div>
      <mat-label class="block mb-2 font-medium">Work Status:</mat-label>
      <mat-radio-group formControlName="status" class="flex flex-wrap gap-4">
        <mat-radio-button value="Active">Active</mat-radio-button>
        <mat-radio-button value="Completed">Completed</mat-radio-button>
        <mat-radio-button value="Running">Running</mat-radio-button>
        <mat-radio-button value="Pending">Pending</mat-radio-button>
        <mat-radio-button value="Not Started">Not Started</mat-radio-button>
        <mat-radio-button value="Cancled">Cancled</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Description -->
    <div>
      <mat-label class="block mb-2 font-medium">Descriptions:</mat-label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor!" class="text-gray-500" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor [editor]="editor" [placeholder]="'Type here...'" formControlName="description"
          class="NgxEditorStyles">
        </ngx-editor>
      </div>
    </div>

    <!-- Submit -->
    <div class="flex gap-4">
      <button class="primary" [disabled]="!projectForm.valid" mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>

  </form>
</div>
