.task-main-line {
  display: inline-flex;
  /* align items inline */
  align-items: center;
  gap: 150px
    /* control space */
}

.task-table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    font-weight: 600;
    padding: 12px 8px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
  }

  td {
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
  }

  tr:hover {
    background: #f5f5f5;
  }
}

/* Fix lists inside ngx-editor */
:host ::ng-deep .NgxEditor__Content ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
  // margin-left: 1.5rem !important;
  // padding-left: 1.5rem !important;
}

:host ::ng-deep .NgxEditor__Content ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
  // margin-left: 1.5rem !important;
  // padding-left: 1.5rem !important;
}

:host ::ng-deep .NgxEditor__Content li p {
  display: inline;
  margin: 0;
  padding: 0;
}