<section>
  <div class="mx-auto">
    <div>
      <app-breadcrumb [title]="'All Projects'" [items]="['Projects']" [active_item]="'All Projects'"></app-breadcrumb>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="flex flex-col">
          <div class="flex flex-wrap">
            <div class="w-full">
              <div class="bg-[#F2F6F9] rounded-lg shadow-xl overflow-hidden">

                <!-- search-bar -->

                <div class="flex flex-col md:flex-row justify-between items-center p-4 border-b bg-[#00c4c4]">
                  <div class="w-full md:w-auto mb-4 md:mb-0">
                    <ul class="flex flex-col md:flex-row items-start md:items-center gap-4">
                      <li>
                        <h2 class="text-lg !text-white mr-4">Projects</h2>
                      </li>
                      <div class="flex items-center justify-center">
                        <div
                          class="border border-[#CCCCCC] rounded-full bg-white flex items-center text-gray-500 shadow w-full max-w-md">
                          <mat-icon class="ms-2">search</mat-icon>
                          <input type="text" class="w-[200px] h-[40px] rounded-full ps-2 placeholder:text-[16px]"
                            placeholder="Search" matInput (keyup)="applyFilter($event)" #input id="inputoutline"
                            style="outline-width: 0px;">

                        </div>
                      </div>
                    </ul>
                  </div>
                </div>

                <!-- Table Container -->
                <div class="overflow-auto">
                  <div class="min-w-full">
                    <table mat-table [dataSource]="dataSource" matSort
                      class="min-w-full border-collapse text-sm md:text-base">

                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                      </ng-container>

                      <!-- Project Title -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left whitespace-nowrap">Project
                          Name</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.projectTitle }}</mat-cell>
                      </ng-container>

                      <!-- Client -->
                      <ng-container matColumnDef="client">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Client
                          Name</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.clientName }}</mat-cell>
                      </ng-container>

                      <!-- Start Date -->
                      <ng-container matColumnDef="startDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Start
                          Date</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.startDate | date }}</mat-cell>
                      </ng-container>

                      <!-- End Date -->
                      <ng-container matColumnDef="endDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">End
                          Date</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.endDate | date }}</mat-cell>
                      </ng-container>

                      <!-- Status -->
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">
                          Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span [ngClass]="{
                                'bg-green-100 text-green-800': row.status === 'Active',
                                'bg-blue-100 text-blue-800': row.status === 'Running',
                                'bg-yellow-100 text-yellow-800': row.status === 'Pending',
                                'bg-gray-100 text-gray-800': row.status === 'Not Started',
                                'bg-purple-100 text-purple-800': row.status === 'Completed',
                                'bg-red-100 text-red-800': row.status === 'Canceled'
                              }" class="px-3 py-1 rounded-full text-xs font-medium">
                            {{ row.status }}
                          </span>
                        </mat-cell>
                      </ng-container>

                      <!-- <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          class="whitespace-nowrap">Status</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.status }}</mat-cell>
                      </ng-container> -->

                      <!-- Priority -->
                      <ng-container matColumnDef="priority">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          class="whitespace-nowrap">Priority</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.priority }}</mat-cell>
                      </ng-container>

                      <!-- Team -->
                      <ng-container matColumnDef="team">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          class="whitespace-nowrap">Team</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-normal">{{ row.teamName }}</mat-cell>
                      </ng-container>

                      <!-- Department -->
                      <ng-container matColumnDef="department">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          class="whitespace-nowrap">Department</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="whitespace-nowrap">{{ row.department }}</mat-cell>
                      </ng-container>

                      <!-- Actions -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" *matHeaderCellDef
                          class="whitespace-nowrap">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0 whitespace-nowrap"
                          style="width: 500px;">

                          <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewItem(row)"
                            class="tbl-action-btn" matTooltip="View">
                            <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                          </button>

                          <button mat-icon-button color="accent" (click)="$event.stopPropagation(); editCall(row)"
                            class="tbl-action-btn" matTooltip="Edit">
                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                          </button>

                          <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(i, row)"
                            class="tbl-action-btn" matTooltip="Delete">
                            <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                          </button>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                        class="cursor-pointer hover:bg-gray-50" matRipple></mat-row>
                    </table>

                    <div class="py-4 text-center text-gray-500"
                      *ngIf="!exampleDatabase?.isTblLoading && dataSource.filteredData.length === 0">
                      No results
                    </div>
                  </div>
                </div>
                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]" class="!border-t !p-2 !bg-[#FAF9FD]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section>
  <div class="mx-auto">
    <div>
      <app-breadcrumb [title]="'All Projects'" [items]="['Projects']" [active_item]="'All Projects'"></app-breadcrumb>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="bg-[#F2F6F9] rounded-lg shadow-xl overflow-auto">


          <div class="p-4 flex justify-between items-center bg-[#00C4C4] rounded-t-md">
            <div class="h-full md:flex items-center justify-start">
              <h2 class="text-lg !text-white mr-4">Projects</h2>
              <div class="mt-1.5 md:mt-0 border-[#CCCCCC] rounded-full bg-[white] flex items-center text-[gray] shadow">
                <mat-icon class="ms-2">search</mat-icon>
                <input type="text" class="w-[200px] h-[40px] rounded-full ps-2 placeholder:text-[16px]"
                  placeholder="Search" matInput (keyup)="applyFilter($event)" #input id="inputoutline"
                  style="outline-width: 0px;">
              </div>
            </div>
          </div>

          <div class="overflow-x-auto">
            <div class="min-w-full">
              <table mat-table [dataSource]="dataSource" matSort class="w-full mat-cell advance-table">

                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.projectTitle }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="client">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.clientName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="startDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.startDate | date }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.endDate | date }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.status }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="priority">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.priority }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="team">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.teamName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="department">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.department }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                   
                    <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewItem(row)"
                      class="tbl-action-btn" matTooltip="View">
                      <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                    </button>

                    <button mat-icon-button color="accent" (click)="$event.stopPropagation(); editCall(row)"
                      class="tbl-action-btn" matTooltip="Edit">
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button>

                    <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(i, row)"
                      class="tbl-action-btn" matTooltip="Delete">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </table>

              <div class="py-4 text-center text-gray-500"
                *ngIf="!exampleDatabase?.isTblLoading && dataSource.filteredData.length === 0">
                No results
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]" class="!border-t !p-2 !bg-[#FAF9FD]">
              </mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->