.present-status {
    padding: 5px 8px !important;
    line-height: 12px;
    border: 1px solid;
    font-weight: 400;
    border: 1px solid #1e7e34 !important;
    border-radius: 0.375rem;
}

.absent-status {
//   background-color: #dc3545;
  color: white;
  border: 1px solid #bd2130;
}