::ng-deep .mat-mdc-paginator-touch-target{
    border-color: white !important;
}

::ng-deep .mat-mdc-form-field-infix{
    color: white !important;
}

::ng-deep .mat-mdc-text-field-wrapper, .mdc-text-field, .mdc-text-field--outlined, .mdc-text-field--no-label{
    color: white !important;
}

::ng-deep mat-paginator-icon{
    background-color: white !important;
}