<div class="w-full max-w-lg mx-auto">
  @if (isDetails) {
  <div class="rounded-xl  overflow-hidden">
    <!-- Header -->
    <div class="flex items-center justify-between px-4 py-3 border-b  text-[#00383F]">
      <h2 class="text-lg font-medium">Attendance Details</h2>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog"
        class="text-white hover:text-[#00383F]">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Details Content -->
    <div mat-dialog-content class="p-4">
      <div class="space-y-4">
        <!-- Date -->
        <div class="flex items-center gap-3" matTooltip="Attendance Date" [matTooltipPosition]="'above'">
          <mat-icon class="text-[#00383F]">event_note</mat-icon>
          <span class="text-sm text-gray-700">{{ attendances.date | date: 'MMMM d, yyyy' }}</span>
        </div>

        <!-- Check-in -->
        <div class="flex items-center gap-3" matTooltip="Check-in" [matTooltipPosition]="'above'">
          <mat-icon class="text-[#00383F]">schedule</mat-icon>
          <span class="text-sm text-gray-700">{{ attendances.check_in ? (attendances.check_in | date:'h:mm:ss a') : '-'
            }}</span>
        </div>

        <!-- Check-out -->
        <div class="flex items-center gap-3" matTooltip="Check-out" [matTooltipPosition]="'above'">
          <mat-icon class="text-[#00383F]">schedule</mat-icon>
          <span class="text-sm text-gray-700">{{ attendances.check_out ? (attendances.check_out | date:'h:mm:ss a') :
            '-' }}
          </span>
        </div>

        <!-- Status -->
        <div class="flex items-center gap-3" matTooltip="Status" [matTooltipPosition]="'above'">
          <mat-icon class="text-[#00383F]">verified</mat-icon>
          <span class="text-sm text-gray-700">{{ attendances.status }}</span>
        </div>
        <!-- Break -->
        <div class="flex items-center gap-3" matTooltip="Break" [matTooltipPosition]="'above'">
          <mat-icon class="text-[#00383F]">pause_circle</mat-icon>
          <span class="text-sm text-gray-700">{{ attendances.break }}</span>
        </div>
      </div>
    </div>
  </div>
  }
</div>