.table-container {
  max-height: 400px;
  /* Set the desired height for the scrollable container */
  overflow-y: auto;
  /* Adds vertical scrollbar */
  display: block;
}

table {
  width: 100%;
  table-layout: fixed;
  /* Ensure consistent column width */
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  display: inline-block;
}

.badge-success {
  background-color: #28a745;
  /* Green */
}

.badge-danger {
  background-color: #dc3545;
  /* Red */
}