<section>
  <!-- Breadcrumb -->
  <div class="mb-4">
    <app-breadcrumb [title]="'All Clients'" [items]="['Clients']" [active_item]="'All Clients'"></app-breadcrumb>
  </div>

  <!-- Card Wrapper -->
  <div class="bg-white shadow-lg rounded-lg">
    <!-- Table Header -->
    <div
      class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 px-6 py-4 border-b bg-[#00C4C4] rounded-t-xl">
      <div class="flex flex-col md:flex-row items-start md:items-center gap-4">
        <h2 class="text-lg font-medium text-white">Clients</h2>
        <div class="flex items-center justify-center">
          <div
            class="border border-[#CCCCCC] rounded-full bg-white flex items-center text-gray-500 shadow w-full max-w-md">
            <mat-icon class="ms-3">search</mat-icon>
            <input placeholder="Search" type="text" #filter
              class="w-full h-[40px] rounded-full ps-2 focus:outline-none placeholder:text-[16px]"
              aria-label="Search box">
          </div>
        </div>

      </div>

      <!-- Actions -->
      <div class="flex items-center gap-2">
        <!-- <button mat-mini-fab class="!bg-[#D5EAEA] !text-[#00383F]" matTooltip="ADD" (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button> -->
        <button mat-mini-fab class="!bg-[#D5EAEA] !text-[#00383F]" matTooltip="REFRESH" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-mini-fab class="bg-red-100 hover:bg-red-200" matTooltip="DELETE" *ngIf="selection.hasValue()"
          (click)="removeSelectedRows()">
          <mat-icon class="text-red-600">delete</mat-icon>
        </button>
        <div class="cursor-pointer" matTooltip="XLSX">
          <img src="assets/images/icons/xlsx.png" alt="Export" class="w-6 h-6" (click)="exportExcel()" />
        </div>
      </div>
    </div>



    <!-- Tabs for BDE Portal -->
    <div class="flex justify-center m-5">
      <div class="flex bg-[#EAF8F8] rounded-full overflow-hidden">
        <button class="px-4 py-1.5 text-sm font-medium transition-all" [class.bg-[#00C4C4]]="activeClientType === 'All'"
          [class.text-white]="activeClientType === 'All'" [class.text-[#00383F]]="activeClientType !== 'All'"
          (click)="setClientType('All')">
          All
        </button>
        <button class="px-4 py-1.5 text-sm font-medium transition-all"
          [class.bg-[#00C4C4]]="activeClientType === 'Cold'" [class.text-white]="activeClientType === 'Cold'"
          [class.text-[#00383F]]="activeClientType !== 'Cold'" (click)="setClientType('Cold')">
          Cold
        </button>
        <button class="px-4 py-1.5 text-sm font-medium transition-all" [class.bg-[#00C4C4]]="activeClientType === 'Hot'"
          [class.text-white]="activeClientType === 'Hot'" [class.text-[#00383F]]="activeClientType !== 'Hot'"
          (click)="setClientType('Hot')">
          Hot
        </button>
        <button class="px-4 py-1.5 text-sm font-medium transition-all"
          [class.bg-[#00C4C4]]="activeClientType === 'Close'" [class.text-white]="activeClientType === 'Close'"
          [class.text-[#00383F]]="activeClientType !== 'Close'" (click)="setClientType('Close')">
          Close
        </button>
      </div>
    </div>

    <!-- Loading Spinner -->
    @if (exampleDatabase?.isTblLoading) {
      <div class="flex justify-center items-center py-10">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
      </div>
    }

    <!-- Table Section -->
    <div class="overflow-x-auto" [class.hidden]="exampleDatabase?.isTblLoading">
      <table mat-table [dataSource]="dataSource" matSort class="min-w-full">

        <!-- Select Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2">
            <mat-checkbox (change)="masterToggle()" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium text-left">Id</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="bde_account_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="px-4 py-2 font-medium text-left whitespace-nowrap">BDE Account ID
          </th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2 whitespace-nowrap">{{ row.bde_account_id || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="bde_account_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="px-4 py-2 font-medium text-left whitespace-nowrap">BDE Account
            Email</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2 whitespace-nowrap">{{ row.bde_account_email || '-' }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="px-4 py-2 font-medium text-left whitespace-nowrap">Client Name</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2 whitespace-nowrap">{{ row.fullName }}</td>
        </ng-container>

        <!-- Other Columns (Mobile, Email, etc.) -->
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium text-left">Mobile</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.mobile || '--' }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium text-left">Email</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="technology">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium text-left">Technology</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.technology || '--' }}</td>
        </ng-container>

        <ng-container matColumnDef="client_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="px-4 py-2 font-medium text-left whitespace-nowrap">Client Type</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.client_type }}</td>
        </ng-container>

        <ng-container matColumnDef="client_Connect_Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="px-4 py-2 font-medium text-left whitespace-nowrap">Connect Type</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.client_Connect_Type }}</td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-4 py-2 font-medium text-left">Country</th>
          <td mat-cell *matCellDef="let row" class="px-4 py-2">{{ row.country }}</td>
        </ng-container>

        <!-- Actions Column -->
        <!-- <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="px-4 py-2 font-medium">Actions</th>
          <td mat-cell *matCellDef="let row; let i = index;" class="px-4 py-2 space-x-2">
            <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewItem(row)" matTooltip="View">
              <app-feather-icons icon="eye" class="text-blue-600"></app-feather-icons>
            </button>
            <button mat-icon-button color="accent" (click)="$event.stopPropagation(); editCall(row)" matTooltip="Edit">
              <app-feather-icons icon="edit" class="text-green-600"></app-feather-icons>
            </button>
            <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(i, row)"
              matTooltip="Delete">
              <app-feather-icons icon="trash-2" class="text-red-600"></app-feather-icons>
            </button>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row; let i=index;">
            <div class="flex items-center space-x-1">
              <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewItem(row)"
                matTooltip="View">
                <app-feather-icons icon="eye" class="text-blue-600"></app-feather-icons>
              </button>
              <button mat-icon-button color="accent" (click)="$event.stopPropagation(); editCall(row)"
                matTooltip="Edit">
                <app-feather-icons icon="edit" class="text-green-600"></app-feather-icons>
              </button>
              <!-- <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(i, row)"
                matTooltip="Delete">
                <app-feather-icons icon="trash-2" class="text-red-600"></app-feather-icons>
              </button> -->
            </div>
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-100 text-gray-800"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="editCall(row)"
          class="hover:bg-gray-50 cursor-pointer">
        </tr>
      </table>

      <!-- No Results Message -->
      @if (!exampleDatabase?.isTblLoading && dataSource) {
        @if ((dataSource.renderedData?.length ?? 0) === 0) {
          <div class="p-4 text-center text-gray-500">No results found.</div>
        }
      }

    </div>
  </div>
  <!-- Paginator -->
  <mat-paginator #paginator [length]="dataSource?.filteredData?.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]" class="border-t">
  </mat-paginator>
</section>