<div class="p-4" id="addContainer">

  <!--leave-details -->
  @if (isDetails) {
  <div class="rounded">

    <!-- Modal Header -->
    <div class="flex justify-between items-start mb-2 border-b">

      <div class="mb-4 text-xl font-medium text-[#00383F] pt-3">{{ leaves.employee_name }}</div>

      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Leave Details -->
    <div mat-dialog-content>
      <mat-card-content class="space-y-3 text-sm">
        <div class="flex items-center gap-3">
          <i class="material-icons-outlined text-[#00383F]">receipt</i>
          <div>{{ leaves.leave_type }}</div>
        </div>
        <div class="flex items-center gap-3">
          <i class="material-icons-outlined text-[#00383F]">today</i>
          <div>{{ leaves.start_date | date: 'MMMM d, yyyy' }}</div>
        </div>
        <div class="flex items-center gap-3">
          <i class="material-icons-outlined text-[#00383F]">fact_check</i>
          <div>{{ leaves.end_date | date: 'MMMM d, yyyy' }}</div>
        </div>
        <div class="flex items-center gap-3">
          <i class="material-icons-outlined text-[#00383F]">tag</i>
          <div>{{ leaves.no_of_days }}</div>
        </div>
        <div class="flex items-center gap-3">
          <i class="material-icons-outlined text-[#00383F]">info</i>
          <div>{{ leaves.status }}</div>
        </div>
        <div class="flex items-start gap-3">
          <i class="material-icons-outlined text-[#00383F]">description</i>
          <div>{{ leaves.reason }}</div>
        </div>
      </mat-card-content>
    </div>
  </div>
  }
</div>