
<!-- Dialog Title -->
 <div class="p-4" >
  <h3 class="text-lg font-medium text-gray-800 mb-2">Are you sure?</h3>

<!-- Dialog Content -->
<div class="mb-4">
  <ul class="space-y-2">
    <li>
      <p><span class="font-semibold text-[#00383f]">Job Title:</span> {{ data.title }}</p>
    </li>
    <li>
      <p><span class="font-semibold text-[#00383f]">Email:</span> {{ data.email }}</p>
    </li>
    <li>
      <p><span class="font-semibold text-[#00383f]">Name:</span> {{ data.full_name }}</p>
    </li>
  </ul>
</div>

<!-- Dialog Actions -->
<div class="flex justify-end gap-2 mt-4">
  <button mat-raised-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
    Delete
  </button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">
    Cancel
  </button>
</div>

 </div>
