<h3 mat-dialog-title class="text-xl font-semibold text-gray-800 mb-4">Are you sure?</h3>

<div mat-dialog-content class="space-y-2">
    <ul class="space-y-1">
        <li>
            <p><span class="font-semibold text-gray-700">target_month:</span> {{ data.target.target_month | date}}</p>
        </li>
        <li>
            <p><span class="font-semibold text-gray-700">amount:</span> {{ data.target.amount }}</p>
        </li>
        <li>
            <p><span class="font-semibold text-gray-700">achieved_amount:</span> {{ data.target.achieved_amount }}</p>
        </li>
    </ul>
</div>

<div mat-dialog-actions class="mt-4 flex justify-end gap-3">
    <button mat-raised-button color="warn" (click)="confirmDelete()">Delete</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>