<div class="w-full h-[100vh]">
  <app-header [collapsed]="isSidebarCollapsed" [isHovered]="isHovered" (toggleSidebar)="toggleSidebar()"
    (mobileSidebarToggle)="isMobileOpen = !isMobileOpen"></app-header>

  <div class="w-full h-[92.2%] 3xl:h-[96%] flex justify-center md:justify-between items-start">
    <app-sidebar
     [collapsed]="!isMobile && isSidebarCollapsed"
    [isHovered]="isHovered"
    (closeSidebarAfterNavigation)="isMobileOpen = false"
    class="h-full transition-all duration-300" 
    [ngClass]="{
    'fixed left-0 top-[3rem]  z-[9999]  w-full': isMobile && isMobileOpen,
    'fixed top-[3rem]  -left-full z-[9999] w-full': isMobile && !isMobileOpen,
    'w-[4.5rem]': !isMobile && isSidebarCollapsed && !isHovered,
    'w-[16%]': !isMobile && (!isSidebarCollapsed || isHovered)
  }"></app-sidebar>
    <div [dir]="direction" 
      id="main-content"
      class="h-full overflow-auto hide-scrollbar py-4 px-4 md:px-6 rounded-tl-2xl transition-all duration-300"
      [ngClass]="{
    'w-full': isMobile,
    'w-[100%]': !isMobile && isSidebarCollapsed && !isHovered,
    'w-[84%]': !isMobile && (!isSidebarCollapsed || isHovered)
  }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>