/* Fix lists inside ngx-editor */
:host ::ng-deep .NgxEditor__Content ul {
    list-style-type: disc !important;
    list-style-position: inside !important;
    // margin-left: 1.5rem !important;
    // padding-left: 1.5rem !important;
}

:host ::ng-deep .NgxEditor__Content ol {
    list-style-type: decimal !important;
    list-style-position: inside !important;
    // margin-left: 1.5rem !important;
    // padding-left: 1.5rem !important;
}

:host ::ng-deep .NgxEditor__Content li p {
    display: inline;
    margin: 0;
    padding: 0;
}